In [105]:
import pandas as pd
import numpy as py

income_data1 = pd.read_csv("income1.csv")

income_data1 = income_data1.loc[:,['Id2','Estimate; Per capita income in the past 12 months (in 2017 inflation-adjusted dollars)']]

income_data1.head()
counts = income_data1['Estimate; Per capita income in the past 12 months (in 2017 inflation-adjusted dollars)'].value_counts()
income_data1["Per Capita Income"] = pd.to_numeric(income_data1['Estimate; Per capita income in the past 12 months (in 2017 inflation-adjusted dollars)'].astype(str).str.replace(',',''), errors='coerce').fillna(0).astype(int)
income_data1 = income_data1.iloc[:,[0,2]]
income_data1["Per Capita Income"] = income_data1["Per Capita Income"].astype(py.int64)
income_data1 = income_data1.rename(columns={
    "Id2":"Zip Code"
})

In [112]:
income_data2 = pd.read_csv("income2.csv")
income_data2 = income_data2.loc[:,['Id2','Total households - Less than $10,000',
                                   'Total households - \$10,000-$14,999',
                                   'Total households - \$15,000-$24,999',
                                   'Total households - \$25,000-$34,999',
                                   'Total households - \$35,000-$49,999',
                                   'Total households - \$50,000-$74,999',
                                   'Total households - \$75,000-$99,999',
                                   'Total households - \$100,000-$149,999',
                                   'Total households - \$150,000-$199,999',
                                   'Total households - \$200,000 or more']]
income_data2 = income_data2.rename(columns={"Id2":"Zip Code"})
income_data2.head()

,Zip Code,"Total households - Less than $10,000","Total households - \$10,000-$14,999","Total households - \$15,000-$24,999","Total households - \$25,000-$34,999","Total households - \$35,000-$49,999","Total households - \$50,000-$74,999","Total households - \$75,000-$99,999","Total households - \$100,000-$149,999","Total households - \$150,000-$199,999","Total households - \$200,000 or more"
0,20001,1730,885,1302,876,1072,1758,1710,3765,2191,3475
1,20002,2501,1163,1559,1504,2142,3301,2894,4720,2729,3704
2,20003,686,367,456,352,417,1362,1496,2566,1840,2852
3,20004,48,8,9,20,63,79,102,329,166,339
4,20005,751,212,304,425,446,983,1292,1602,839,1318

In [113]:
income_data3 = pd.read_csv("income3.csv")
income_data3 = income_data3.loc[:,["Id2",
                                   'Number; Estimate; Households',
                                   'Median income (dollars); Estimate; Households',
                                   'Number; Estimate; FAMILIES - Families',
                                   'Median income (dollars); Estimate; FAMILIES - Families',
                                   'Number; Estimate; NONFAMILY HOUSEHOLDS - Nonfamily households',
                                   'Median income (dollars); Estimate; NONFAMILY HOUSEHOLDS - Nonfamily households']]
income_data3 = income_data3.rename(columns={"Id2":"Zip Code",
                                   'Number; Estimate; Households':"Total Households",
                                   'Median income (dollars); Estimate; Households':"Median Income by Household",
                                   'Number; Estimate; FAMILIES - Families':"Total Families",
                                   'Median income (dollars); Estimate; FAMILIES - Families':"Median Income by Families",
                                   'Number; Estimate; NONFAMILY HOUSEHOLDS - Nonfamily households':"Total Nonfamily Households",
                                   'Median income (dollars); Estimate; NONFAMILY HOUSEHOLDS - Nonfamily households':"Median Income by Nonfamily Households"
    
})

In [114]:
income_data3["Median Income by Household"] = pd.to_numeric(income_data3['Median Income by Household'].astype(str).str.replace(',',''), errors='coerce').fillna(0).astype(int)
income_data3["Median Income by Household"] = income_data3["Median Income by Household"].astype(py.int64)

income_data3["Median Income by Families"] = pd.to_numeric(income_data3['Median Income by Families'].astype(str).str.replace(',',''), errors='coerce').fillna(0).astype(int)
income_data3["Median Income by Families"] = income_data3["Median Income by Families"].astype(py.int64)

income_data3["Median Income by Nonfamily Households"] = pd.to_numeric(income_data3['Median Income by Nonfamily Households'].astype(str).str.replace(',',''), errors='coerce').fillna(0).astype(int)
income_data3["Median Income by Nonfamily Households"] = income_data3["Median Income by Nonfamily Households"].astype(py.int64)

In [115]:
incomedata = pd.merge(income_data1, income_data2, how='outer', on='Zip Code')
incomedata = pd.merge(incomedata, income_data3,how="outer", on="Zip Code")
incomedata.head()

,Zip Code,Per Capita Income,"Total households - Less than $10,000","Total households - \$10,000-$14,999","Total households - \$15,000-$24,999","Total households - \$25,000-$34,999","Total households - \$35,000-$49,999","Total households - \$50,000-$74,999","Total households - \$75,000-$99,999","Total households - \$100,000-$149,999","Total households - \$150,000-$199,999","Total households - \$200,000 or more",Total Households,Median Income by Household,Total Families,Median Income by Families,Total Nonfamily Households,Median Income by Nonfamily Households
0,20001,54353.0,1730,885,1302,876,1072,1758,1710,3765,2191,3475,18764,100447,6040,113317,12724,93786
1,20002,49452.0,2501,1163,1559,1504,2142,3301,2894,4720,2729,3704,26217,82022,10665,101998,15552,69683
2,20003,63600.0,686,367,456,352,417,1362,1496,2566,1840,2852,12394,118607,5296,167746,7098,94339
3,20004,117432.0,48,8,9,20,63,79,102,329,166,339,1163,144583,280,248672,883,135189
4,20005,76658.0,751,212,304,425,446,983,1292,1602,839,1318,8172,94506,1668,142821,6504,83333