# Normalized Score and Color Calculator
-----
    Use this to calculate a normalized score and color assignments for ZCTA-based demographic data.

In [3]:
import pandas as pd
from matplotlib.cm import winter
from matplotlib.colors import to_hex

In [16]:
# Open your CSVs as a dataframes
    
with open('../all_econ_data.csv', newline='\n', encoding='utf-8-sig') as a:
    all_econ_data = pd.read_csv(a)
    
with open('../zcta_map/resources/zip_data.csv', newline='\n', encoding='utf-8-sig') as b:
    zip_data = pd.read_csv(b)
    
with open('../hcprovider_data/doctor_geo.csv', newline='\n', encoding='utf-8-sig') as c:
    doctor_geo = pd.read_csv(c)
    
with open('../hcprovider_data/hospital_geo.csv', newline='\n', encoding='utf-8-sig') as d:
    hospital_geo = pd.read_csv(d)

In [5]:
all_econ_data.head()

,Zip Code,Total Population,Labor Force Participation Rate,Unemployment Rate,Per Capita Income,"Total households - Less than $10,000","Total households - \$10,000-$14,999","Total households - \$15,000-$24,999","Total households - \$25,000-$34,999","Total households - \$35,000-$49,999",...,"Total households - \$75,000-$99,999","Total households - \$100,000-$149,999","Total households - \$150,000-$199,999","Total households - \$200,000 or more",Total Households,Median Income by Household,Total Families,Median Income by Families,Total Nonfamily Households,Median Income by Nonfamily Households
0,20001,41692,73,5,54353.0,1730,885,1302,876,1072,...,1710,3765,2191,3475,18764,100447,6040,113317,12724,93786
1,20002,52867,72,6,49452.0,2501,1163,1559,1504,2142,...,2894,4720,2729,3704,26217,82022,10665,101998,15552,69683
2,20003,26330,71,5,63600.0,686,367,456,352,417,...,1496,2566,1840,2852,12394,118607,5296,167746,7098,94339
3,20004,1610,88,4,117432.0,48,8,9,20,63,...,102,329,166,339,1163,144583,280,248672,883,135189
4,20005,12311,84,2,76658.0,751,212,304,425,446,...,1292,1602,839,1318,8172,94506,1668,142821,6504,83333

In [6]:
zip_data.head()

,zip,city,county,median_household_income,population,feature,area,density,nml_dens,nml_inc,color_key
0,20001,"Washington, DC",District Of Columbia,100447.0,41692,"{'type': 'Feature', 'geometry': {'type': 'Poly...",5.835524,7144.516970,0.759751,0.386274,#0062ce
1,20002,"Washington, DC",District Of Columbia,82022.0,52867,"{'type': 'Feature', 'geometry': {'type': 'Poly...",14.228399,3715.597280,0.964587,0.284281,#0048db
2,20003,"Washington, DC",District Of Columbia,118607.0,26330,"{'type': 'Feature', 'geometry': {'type': 'Poly...",6.447784,4083.573672,0.478169,0.486800,#007cc1
3,20004,"Washington, DC",District Of Columbia,144583.0,1610,"{'type': 'Feature', 'geometry': {'type': 'Mult...",0.904905,1779.192084,0.025057,0.630593,#00a1ae
4,20005,"Washington, DC",District Of Columbia,94506.0,12311,"{'type': 'Feature', 'geometry': {'type': 'Poly...",1.122787,10964.678013,0.221204,0.353387,#005ad2

In [7]:
doctor_geo.head()

,Unnamed: 0,lat,lng,name,vicinity,placeid,zip
0,0,38.917568,-77.020726,Howard University Hospital:pulmonary,"2041 Georgia Avenue Northwest, Washington",ChIJf2TW1OS3t4kRmYwM_D3YU9g,20001
1,1,38.905311,-77.012765,"Shiban Raina, MD","128 M Street Northwest #050, Washington",ChIJqVHvjcHHt4kR9bkSKfeYk6M,20001
2,2,38.905363,-77.018377,Aziz Salim MD,"2175 K Street Northwest, Washington",ChIJO7BERbS3t4kRdCq1JjRVF9c,20001
3,3,38.910311,-77.021587,Abramson Randi C MD,"1525 7th Street Northwest, Washington",ChIJNcEa_fG3t4kROr29e7EFZJw,20001
4,4,38.910311,-77.021587,"Hope Ferdowsian, MD, MPH","1525 7th Street Northwest, Washington",ChIJxfO-cZTJt4kR1eicxoihlSc,20001

In [8]:
dr_grpby = doctor_geo[['placeid','zip']].groupby('zip')

dr_df = pd.DataFrame(dr_grpby.count())

dr_df.head()

       placeid
zip
20001       32
20002       58
20003       49
20004       14
20005       20

In [10]:
all_econ_data = all_econ_data.rename(index=str, columns={'Zip Code': 'zip'})

all_econ_data = all_econ_data.set_index('zip')

all_econ_data.head()

,Total Population,Labor Force Participation Rate,Unemployment Rate,Per Capita Income,"Total households - Less than $10,000","Total households - \$10,000-$14,999","Total households - \$15,000-$24,999","Total households - \$25,000-$34,999","Total households - \$35,000-$49,999","Total households - \$50,000-$74,999","Total households - \$75,000-$99,999","Total households - \$100,000-$149,999","Total households - \$150,000-$199,999","Total households - \$200,000 or more",Total Households,Median Income by Household,Total Families,Median Income by Families,Total Nonfamily Households,Median Income by Nonfamily Households
zip,,,,,,,,,,,,,,,,,,,,
20001,41692,73,5,54353.0,1730,885,1302,876,1072,1758,1710,3765,2191,3475,18764,100447,6040,113317,12724,93786
20002,52867,72,6,49452.0,2501,1163,1559,1504,2142,3301,2894,4720,2729,3704,26217,82022,10665,101998,15552,69683
20003,26330,71,5,63600.0,686,367,456,352,417,1362,1496,2566,1840,2852,12394,118607,5296,167746,7098,94339
20004,1610,88,4,117432.0,48,8,9,20,63,79,102,329,166,339,1163,144583,280,248672,883,135189
20005,12311,84,2,76658.0,751,212,304,425,446,983,1292,1602,839,1318,8172,94506,1668,142821,6504,83333

In [11]:
econ_select = all_econ_data[['Total Population', 'Unemployment Rate', 'Per Capita Income']]

econ_select.head()

       Total Population  Unemployment Rate  Per Capita Income
zip
20001             41692                  5            54353.0
20002             52867                  6            49452.0
20003             26330                  5            63600.0
20004              1610                  4           117432.0
20005             12311                  2            76658.0

In [51]:
econ_select2 = econ_select.merge(hos_df, on='zip', how='inner')
econ_select2 = econ_select2.rename(index=str, columns={'placeid': 'hospital facilities'})
econ_select2 = pd.DataFrame(econ_select2)

econ_select2

,Total Population,Unemployment Rate,Per Capita Income,hospital facilities
zip,,,,
20001,41692,5,54353.0,11
20002,52867,6,49452.0,8
20003,26330,5,63600.0,8
20004,1610,4,117432.0,5
20005,12311,2,76658.0,6
20006,2780,9,15033.0,9
20007,23866,4,83915.0,14
20008,26034,2,97465.0,3
20009,46797,4,74204.0,5
20010,28736,5,45700.0,20
20011,54799,7,38579.0,7
20016,29230,4,86814.0,19
20017,16815,10,40512.0,13
20018,16617,11,36081.0,5
20020,41842,15,22656.0,2
20036,5653,2,73598.0,11
20037,14362,4,57188.0,22
20307,168,0,39423.0,2
20319,53,0,20515.0,1
20712,7307,8,26529.0,1
20722,4609,5,27202.0,1
20782,25856,5,30650.0,1
20783,36039,4,22497.0,2
20814,23961,3,78293.0,29
20815,24706,3,103067.0,14
20816,12429,3,99522.0,5
20817,29005,3,91919.0,2
20901,28412,6,43834.0,2
20902,40764,7,33926.0,3
20903,19547,9,24013.0,4
20910,35775,5,49902.0,17
20912,20481,7,37835.0,8
22003,49394,5,40869.0,26
22031,26723,3,51232.0,6
22041,22292,6,36343.0,1
22042,27668,5,46190.0,16
22044,10927,2,48193.0,2
22046,14247,4,62646.0,4
22151,14556,3,41605.0,2
22201,33329,2,80446.0,3
22203,21141,2,62282.0,4
22204,45261,4,42153.0,7
22205,14312,2,71860.0,31
22207,25894,2,83827.0,5
22209,11330,3,86448.0,2
22211,1026,0,20792.0,2
22301,10433,2,73575.0,1
22302,15839,2,65046.0,3
22304,40400,4,47468.0,19
22305,14156,2,45388.0,1
22311,14430,4,36677.0,7

In [52]:
econ_select3 = econ_select.merge(dr_df, on='zip', how='inner')
econ_select3 = econ_select3.rename(index=str, columns={'placeid': 'doctors'})
econ_select3 = pd.DataFrame(econ_select3)

econ_select3.head()

       Total Population  Unemployment Rate  Per Capita Income  doctors
zip
20001             41692                  5            54353.0       32
20002             52867                  6            49452.0       58
20003             26330                  5            63600.0       49
20004              1610                  4           117432.0       14
20005             12311                  2            76658.0       20

In [55]:
econ_select4 = econ_select3
econ_select4['hospital facilities'] = econ_select2['hospital facilities']

econ_select4 = econ_select4.fillna(0)

econ_select4

,Total Population,Unemployment Rate,Per Capita Income,doctors,hospital facilities
zip,,,,,
20001,41692,5,54353.0,32,11.0
20002,52867,6,49452.0,58,8.0
20003,26330,5,63600.0,49,8.0
20004,1610,4,117432.0,14,5.0
20005,12311,2,76658.0,20,6.0
20006,2780,9,15033.0,20,9.0
20007,23866,4,83915.0,59,14.0
20008,26034,2,97465.0,52,3.0
20009,46797,4,74204.0,69,5.0
20010,28736,5,45700.0,52,20.0
20011,54799,7,38579.0,62,7.0
20012,12565,8,52812.0,2,0.0
20015,12349,4,92413.0,39,0.0
20016,29230,4,86814.0,67,19.0
20017,16815,10,40512.0,64,13.0
20018,16617,11,36081.0,19,5.0
20019,47261,18,21712.0,45,0.0
20020,41842,15,22656.0,37,2.0
20024,11342,7,55075.0,15,0.0
20032,30806,23,20041.0,70,0.0
20036,5653,2,73598.0,37,11.0
20037,14362,4,57188.0,53,22.0
20307,168,0,39423.0,37,2.0
20553,0,0,0.0,1,0.0
20593,0,0,0.0,18,0.0
20706,31739,7,29999.0,85,0.0
20710,7104,8,22297.0,4,0.0
20712,7307,8,26529.0,2,1.0
20722,4609,5,27202.0,30,1.0
20737,16153,5,22702.0,49,0.0
...,...,...,...,...,...
22042,27668,5,46190.0,58,16.0
22043,20141,3,53940.0,46,0.0
22044,10927,2,48193.0,46,2.0
22046,14247,4,62646.0,79,4.0
22101,22804,4,99658.0,42,0.0
22102,20216,5,82166.0,38,0.0
22151,14556,3,41605.0,33,2.0
22182,20539,4,73455.0,39,0.0
22191,52012,5,33966.0,1,0.0
22201,33329,2,80446.0,30,3.0
22202,21587,3,74032.0,38,0.0
22203,21141,2,62282.0,56,4.0
22204,45261,4,42153.0,75,7.0
22205,14312,2,71860.0,61,31.0
22206,17439,4,64341.0,47,0.0
22207,25894,2,83827.0,34,5.0
22209,11330,3,86448.0,31,2.0
22301,10433,2,73575.0,3,1.0
22302,15839,2,65046.0,56,3.0
22303,12611,3,54665.0,19,0.0
22304,40400,4,47468.0,120,19.0
22305,14156,2,45388.0,35,1.0
22306,26902,5,33671.0,45,0.0
22307,8163,3,71325.0,24,0.0
22310,25013,5,52187.0,42,0.0
22311,14430,4,36677.0,41,7.0
22312,26127,5,38157.0,43,0.0
22314,28925,3,82898.0,74,0.0
22315,23013,4,53905.0,16,0.0
24210,14399,6,24156.0,8,0.0

In [62]:
min_emp = min(econ_select4['Unemployment Rate'])
max_emp = max(econ_select4['Unemployment Rate'])
emp_range = max_emp - min_emp

econ_select4['nml_emp'] = (1 - (econ_select4['Unemployment Rate'] - min_emp)/emp_range)

econ_select4

,Total Population,Unemployment Rate,Per Capita Income,doctors,hospital facilities,nml_emp
zip,,,,,,
20001,41692,5,54353.0,32,11.0,0.782609
20002,52867,6,49452.0,58,8.0,0.739130
20003,26330,5,63600.0,49,8.0,0.782609
20004,1610,4,117432.0,14,5.0,0.826087
20005,12311,2,76658.0,20,6.0,0.913043
20006,2780,9,15033.0,20,9.0,0.608696
20007,23866,4,83915.0,59,14.0,0.826087
20008,26034,2,97465.0,52,3.0,0.913043
20009,46797,4,74204.0,69,5.0,0.826087
20010,28736,5,45700.0,52,20.0,0.782609
20011,54799,7,38579.0,62,7.0,0.695652
20012,12565,8,52812.0,2,0.0,0.652174
20015,12349,4,92413.0,39,0.0,0.826087
20016,29230,4,86814.0,67,19.0,0.826087
20017,16815,10,40512.0,64,13.0,0.565217
20018,16617,11,36081.0,19,5.0,0.521739
20019,47261,18,21712.0,45,0.0,0.217391
20020,41842,15,22656.0,37,2.0,0.347826
20024,11342,7,55075.0,15,0.0,0.695652
20032,30806,23,20041.0,70,0.0,0.000000
20036,5653,2,73598.0,37,11.0,0.913043
20037,14362,4,57188.0,53,22.0,0.826087
20307,168,0,39423.0,37,2.0,1.000000
20553,0,0,0.0,1,0.0,1.000000
20593,0,0,0.0,18,0.0,1.000000
20706,31739,7,29999.0,85,0.0,0.695652
20710,7104,8,22297.0,4,0.0,0.652174
20712,7307,8,26529.0,2,1.0,0.652174
20722,4609,5,27202.0,30,1.0,0.782609
20737,16153,5,22702.0,49,0.0,0.782609
...,...,...,...,...,...,...
22042,27668,5,46190.0,58,16.0,0.782609
22043,20141,3,53940.0,46,0.0,0.869565
22044,10927,2,48193.0,46,2.0,0.913043
22046,14247,4,62646.0,79,4.0,0.826087
22101,22804,4,99658.0,42,0.0,0.826087
22102,20216,5,82166.0,38,0.0,0.782609
22151,14556,3,41605.0,33,2.0,0.869565
22182,20539,4,73455.0,39,0.0,0.826087
22191,52012,5,33966.0,1,0.0,0.782609
22201,33329,2,80446.0,30,3.0,0.913043
22202,21587,3,74032.0,38,0.0,0.869565
22203,21141,2,62282.0,56,4.0,0.913043
22204,45261,4,42153.0,75,7.0,0.826087
22205,14312,2,71860.0,61,31.0,0.913043
22206,17439,4,64341.0,47,0.0,0.826087
22207,25894,2,83827.0,34,5.0,0.913043
22209,11330,3,86448.0,31,2.0,0.869565
22301,10433,2,73575.0,3,1.0,0.913043
22302,15839,2,65046.0,56,3.0,0.913043
22303,12611,3,54665.0,19,0.0,0.869565
22304,40400,4,47468.0,120,19.0,0.826087
22305,14156,2,45388.0,35,1.0,0.913043
22306,26902,5,33671.0,45,0.0,0.782609
22307,8163,3,71325.0,24,0.0,0.869565
22310,25013,5,52187.0,42,0.0,0.782609
22311,14430,4,36677.0,41,7.0,0.826087
22312,26127,5,38157.0,43,0.0,0.782609
22314,28925,3,82898.0,74,0.0,0.869565
22315,23013,4,53905.0,16,0.0,0.826087
24210,14399,6,24156.0,8,0.0,0.739130

In [65]:
min_inc = min(econ_select4['Per Capita Income'])
max_inc = max(econ_select4['Per Capita Income'])
inc_range = max_inc - min_inc

econ_select4['nml_inc'] = ((econ_select4['Per Capita Income'] - min_emp)/inc_range)

econ_select4.head()

,Total Population,Unemployment Rate,Per Capita Income,doctors,hospital facilities,nml_emp,nml_inc
zip,,,,,,,
20001,41692,5,54353.0,32,11.0,0.782609,0.462847
20002,52867,6,49452.0,58,8.0,0.739130,0.421112
20003,26330,5,63600.0,49,8.0,0.782609,0.541590
20004,1610,4,117432.0,14,5.0,0.826087,1.000000
20005,12311,2,76658.0,20,6.0,0.913043,0.652786

In [66]:
def calculate_color(pop):
    mpl_color = winter(pop)
    gmaps_color = to_hex(mpl_color, keep_alpha=False)
    return gmaps_color

colors = []

for pop in econ_select4['nml_inc'].tolist():
    try:
        color = calculate_color(pop)
    except KeyError:
        color = (0, 0, 0, 0.3)
        print('key error')
    colors.append(color)

In [68]:
econ_select4['color_key_inc'] = colors

econ_select4.head()

,Total Population,Unemployment Rate,Per Capita Income,doctors,hospital facilities,nml_emp,nml_inc,color_key_inc
zip,,,,,,,,
20001,41692,5,54353.0,32,11.0,0.782609,0.462847,#0076c4
20002,52867,6,49452.0,58,8.0,0.739130,0.421112,#006bca
20003,26330,5,63600.0,49,8.0,0.782609,0.541590,#008aba
20004,1610,4,117432.0,14,5.0,0.826087,1.000000,#00ff80
20005,12311,2,76658.0,20,6.0,0.913043,0.652786,#00a7ac

In [69]:
def calculate_color(pop):
    mpl_color = winter(pop)
    gmaps_color = to_hex(mpl_color, keep_alpha=False)
    return gmaps_color

colors = []

for pop in econ_select4['nml_emp'].tolist():
    try:
        color = calculate_color(pop)
    except KeyError:
        color = (0, 0, 0, 0.3)
        print('key error')
    colors.append(color)

In [70]:
econ_select4['color_key_emp'] = colors

econ_select4.head()

,Total Population,Unemployment Rate,Per Capita Income,doctors,hospital facilities,nml_emp,nml_inc,color_key_inc,color_key_emp
zip,,,,,,,,,
20001,41692,5,54353.0,32,11.0,0.782609,0.462847,#0076c4,#00c89b
20002,52867,6,49452.0,58,8.0,0.739130,0.421112,#006bca,#00bda0
20003,26330,5,63600.0,49,8.0,0.782609,0.541590,#008aba,#00c89b
20004,1610,4,117432.0,14,5.0,0.826087,1.000000,#00ff80,#00d396
20005,12311,2,76658.0,20,6.0,0.913043,0.652786,#00a7ac,#00e98b

In [ ]:
econ_select4.to_csv('../primary_data.csv', encoding='utf-8')